.veena-title{
    color:white;
    font-size:22px;
    letter-spacing: 15px;
    background-color:#DE4949;
    opacity:0.9;
    height:125px;  
}


.veena-text{   
    font-family:'Open Sans';
    font-size:15px;
    width:40%;
    display: inline-block;
    text-align:justify;  
}