html {
    box-sizing: border-box;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
}

body {
    position: relative;
}

.container-fluid {
    width: 100%;
    padding: 0 10px;
}

.container {
    /*    max-width:80%;*/
    margin: 0 auto;
    /*    padding: 4em 0 2em 0;*/
    max-width: none;
}

.row::after {
    content: " ";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 0 10px;
}

.col-1 {
    width: 8.3333333%;
}

.col-2 {
    width: 16.6666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.6666666%
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333%;
}

.col-11 {
    width: 91.6666666%;
}

.col-12 {
    width: 100%;
}

.push-1 {
    margin-left: 8.3333333%;
}

.push-2 {
    margin-left: 16.6666666%;
}

.push-3 {
    margin-left: 25%;
}

.push-4 {
    margin-left: 33.333333%;
}

.push-5 {
    margin-left: 41.6666666%
}

.push-6 {
    margin-left: 50%;
}

.push-7 {
    margin-left: 58.333333%
}

.push-8 {
    margin-left: 66.666666%;
}

.push-9 {
    margin-left: 75%;
}

.push-10 {
    margin-left: 83.3333333%;
}

.push-11 {
    margin-left: 91.6666666%;
}

.push-12 {
    margin-left: 100%;
}


/* Laptop */

@media screen and (max-width:992px) {}


/* Tablets */

@media screen and (max-width:768px) {
    [class*="col-2"] {
        width: 33.333333%;
    }
    [class*="col-4"] {
        width: 50%;
    }
    [class*="col-6"] {
        width: 100%;
    }
}


/* Smartphones */

@media screen and (max-width:480px) {
    .container {
        max-width: 100%;
    }
    [class*="col-"] {
        width: 100%;
    }
}


/* -----------------------------
----------MY CLASSES------------
----------------------------- */

h2.title-fantasy {
    font-size: 8em;
    font-weight: 400;
    font-size: 96px;
}

.bloc-left,
.bloc-right {
    float: left;
    display: inline-block;
    width: 50%;
}

.bloc-right {
    padding-left: 30px;
    float: right;
}

.service-box {
    float: left;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    transition: all 0.5s ease;
}

.service-box:hover {
    opacity: 0.5;
    transition: all 0.5s ease;
}

.text-service {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    color: white;
}

.img-over {
    /*    margin-top: -15%;*/
}

hr {
    width: 40%;
    border-bottom: 2px solid black;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #222222;
}

.title {
    padding: 2rem;
    padding-bottom: 0;
}

.title-red h2,
.title-orange h2 {
    font-size: 3em;
}

.title-red h2.title-fantasy,
.title-orange h2.title-fantasy {
    font-size: 3em;
    letter-spacing: 8px;
    font-weight: normal;
}

.title-red {
    background-color: #DE4949;
    padding-left: 9%;
}

.title-orange {
    background-color: #D98238;
    padding-left: 9%;
}

.simple-title {
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
}

.title-fantasy {
    font-family: Oraqle, cursive;
    letter-spacing: 8px;
}


/* New style */

header h2.simple-title {
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 5.5em;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0;
}

header h2.title-fantasy {
   font-size: 5em;
    padding: 0;
}

@media screen and (max-width: 768px) {
    header .simple-title,  header h2.simple-title {
        font-size: 4em;
        letter-spacing: 5px;
    }
    header h2.title-fantasy {
        font-size: 6em;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-underline {
    text-decoration: underline;
}

.text-uppercase {
    text-transform: uppercase;
}
