@font-face {
    font-family: Oraqle;
    src: url('../font/Oraqle_script.woff') format('woff'), url('../font/Oraqle_script.ttf') format('truetype'), url('../font/Oraqle_script.otf') format('otf');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    margin: 0 auto;
    font-size: 1em;
    background-color: #1b1b1b;
}

body,
p,
ul,
li,
ol,
table,
tr,
td,
blockquote,
em,
strong,
span {
    font-family: 'Open sans', sans-serif;
    line-height: normal;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open sans', sans-serif;
    color: #222;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.5em;
    padding: 3%;
}

h3 {
    font-size: 3em;
    text-transform: initial;
}

h3:first-letter {
    text-transform: uppercase;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 3%;
    font-size: 1.2em;
}

em {
    font-size: 80px;
    display: block;
    font-weight: bold;
    line-height: 80px;
}


/********************
****** HEADER *******
********************/


/* TEST HEADER */

.title-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 8%;
    padding: 6rem 0 4em 0;
}

header .header-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/ballerina-bg.jpeg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 400px;
}

header#header-about .header-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/photo-contact.jpeg);
    background-size: cover;
    background-position: center;
}

header#header-gallery .header-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/ballerina-bg.jpeg) no-repeat center;
    background-size: cover;
}

header .header-content.solo .container {
    max-width: 100%;
    background: rgba(197, 105, 105, 0.4);
}

header .container {
    z-index: 5;
}

.content {
    height: 100vh;
    padding: 50px;
    background: #333;
    margin-top: 100vh;
}

header {
    background-size: cover;
    text-align: center;
    background: white;
}

header#header-home {
    height: calc(100vh - 77px);
    min-height: 625px;
    /*    background: #222222;*/
    top: 0;
    width: 100%;
    z-index: 0;
    background-size: calc(100% + 50px);
}

.container {
    position: relative;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    margin-bottom: 1%;
}

header h1,
header h2 {
    color: #222222;
    text-align: center;
    letter-spacing: 3px;
}

header h1 {
    font-size: 7em;
    text-align: right;
    margin-bottom: 4%;
    line-height: 70px;
    /*    padding: 0 5%;*/
}

#header-home {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 3em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 75vh;
    height: 75vh;
    position: relative;
    background: #000;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%), url(../images/slide04.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #FFF;
}

#header-home:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    content: '';
    display: block;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-home .container {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -ms-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    opacity: 1;
    z-index: 3;
    max-width: 75%;
    padding: 0 2em;
}

header h2 {
    font-size: 6em;
}

.spacer {}

#container-navbar {
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    box-shadow: 0px 1px 3px #8b8b8b59;
    color: #1c1c1c;
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    box-shadow: none;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
}


/* MENU */

nav ul {
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    line-height: 66px;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: #1c1c1c;
}


/*
nav ul li a:hover{
    border-bottom: 3px solid red;
}
*/

.menu {
    font-weight: 500;
}

.menu a {
    padding: 0 10px;
}

.menu a:hover {
    color: #c5cae9;
}

.mobile-link span {
    color: #222222;
}

.mobile-link {
    display: none;
}

.floating-nav {
    border-width: 0;
    box-shadow: 0px 1px 3px #8b8b8b59;
}

.logo {
    width: 120px;
    margin-left: 2%;
    /*
    opacity: 0.9;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
*/
}

.logo-white {
    width: 150px;
}

.logo img {
    margin-bottom: 2px;
    vertical-align: middle;
    width: 100%;
    left: 1%;
    height: auto;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.logo:hover {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}


/* TITLE WITH PARALLAX */

.wrapper.specific-title {
    background-color: #000;
    color: #bfbfbf;
    background-image: url(../img/ballerina-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    opacity: 0.65;
}

.wrapper {
    padding: 6rem 0 4rem 0;
    position: relative;
    margin: 0;
}

.wrapper.style2 {
    background-color: #041625;
    color: #c0c5c9;
}

.flex-video.flex-tabs {
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-video.flex-tabs ul {
    width: 20%;
}

.tab.active {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.flex-video.flex-2,
.flex-video.flex-3 {
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

.tab {
    display: none;
}

ul.tab-list {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
}

.flex-video.flex-tabs .tabs {
    width: 77%;
}

.flex-video {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}


/*
.wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.35;
    z-index: 1;
}
*/

.specific-title h2 {
    color: white;
    font-family: "Oraqle", cursive;
}


/* VERTICAL SCROLLBAR */

.vertical-navbar {
    position: fixed;
    height: 100%;
    width: 60px;
    right: 0;
    top: 0;
    z-index: 999;
    transition: background-color .45s ease-in-out, width .5s cubic-bezier(.645, .045, .355, 1) 0ms, transform 1s cubic-bezier(.25, .46, .45, .94), opacity .6s linear .8s, -webkit-opacity .6s linear .8s;
}

.vertical-navbar:hover {
    /*    width: 33vw;*/
    transition: background-color .45s ease-in-out, width .5s cubic-bezier(.645, .045, .355, 1) 0ms, transform 1s cubic-bezier(.25, .46, .45, .94), opacity .6s linear .8s, -webkit-opacity .6s linear .8s;
}

.navbar-wrap {
    width: 100%;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    right: 0
}

.navbar-toggle {
    display: block!important;
    float: right;
    margin: 0px auto;
    padding: 20px 5px;
    width: 60px;
}

.navbar-toggle .icon-bar {
    background: black;
    margin: 0 auto
}

#menu {
    position: absolute;
    top: 40%;
    left: 100%;
    opacity: 0;
    transition: all .5s
}

.vertical-navbar:hover #menu {
    left: 0;
    opacity: 1;
    transition: all .5s
}

#menu li.active a:after {
    content: ' /'
}

.vertical-navbar .bug {
    text-align: center;
    padding: 10px 0;
    width: 60px;
    float: right;
    position: relative;
    z-index: 500
}

#label {
    position: relative;
    width: 100%;
    height: 100%;
    animation-delay: 1s;
    color: black;
}

#label>span {
    transform: rotate(-90deg);
    width: 60px;
    position: absolute;
    right: 0;
    color: black;
    top: 50%;
    white-space: nowrap
}

.change-content h4 {
    margin-top: 0;
    font-size: 1.4em;
}

.change-content h3:hover .change-arrow {
    animation: slide-arrow 1.5s ease-in-out infinite;
    transform: translateX(50px);
    transition: all 0.5s ease;
}

.change-content .other-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.other-links a {
    transition: all 0.3s ease;
}

.other-links a:hover {
    color: #f8484f;
}

.change-content h3,
.change-content .change-arrow {
    display: inline-block;
    padding: 0 50px;
}

.page-change .row {
    line-height: 150px;
}

.arrow1 {
    font-size: 60px !important;
    margin-left: 9px;
}

@keyframes slide-arrow {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 0);
    }
}

.section .panel:hover>.flyout {
    right: 0;
    top: 0
}

.heading {
    position: absolute;
    padding: 60px 15px
}


/********************
****** NAVBAR *******
********************/

.clear {
    clear: both;
    /* Permet de corriger le vortex du float à la fin de son utilisation */
}

nav img {
    padding: 1% 0 0 2%;
}

p {
    padding: 1% 0;
    font-size: 1em;
    line-height: 24px;
}

div h3 {
    text-align: center;
}

.clear {
    clear: both;
}

.desktop-logo {
    display: block;
}

.mobile-logo {
    display: none;
}


/********************
****** FILTER *******
********************/

.filter a {
    position: relative;
}

button.filter,
.filtertitle {
    color: white;
}

button.filter:hover {
    background: #F8484F;
}

.filter a.active:before,
.is-checked:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #333 transparent transparent transparent;
}

@keyframes zoom-in {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: none;
    }
}

@keyframes rotate-right {
    0% {
        transform: translate(-100%) rotate(-100deg);
    }
    100% {
        transform: none;
    }
}

.is-animated {
    animation: .6s zoom-in;
    // animation: .6s rotate-right; 
}


/* Buttons style */

.overlay a {
    font-weight: 500;
    color: #fdfdfd;
}

.overlay a .hover-menu {
    color: #fdfdfd;
}

.overlay a:hover {
    /*    color: white;*/
}

a .hover-menu {
    color: #222222;
}

#nav-desktop a .hover-menu:hover {
    color: black;
}

.overlay a .hover-menu,
a .hover-menu {
    display: inline-block;
}

.overlay a .hover-menu,
a .hover-menu {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: all 0.5s;
}

.overlay a .hover-menu:before,
a .hover-menu:before {
    content: "";
    width: 0;
    position: absolute;
    height: 0.16em;
    bottom: -3px;
    right: 0;
    background: white;
    transition: all 0.4s;
}

a .hover-menu:before {
    background: #f51b4a;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f51b4a 1%, #ffaf4b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f51b4a 1%, #ffaf4b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f51b4a 1%, #ffaf4b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f51b4a', endColorstr='#ffaf4b', GradientType=1);
    /* IE6-9 */
}

.overlay .menu-rs i {
    color: black;
}

.overlay h2 {
    font-family: Oraqle, cursive;
    text-transform: uppercase;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.19);
    letter-spacing: 1em;
    font-weight: 500;
}

.screen-center {
    /* position: absolute; */
    /* width: 100px; */
    height: 50px;
    top: 30%;
    /* left: 26%; */
    transform: translateX(4%);
    /* margin-left: -50px; */
    margin-top: 25px;
    text-align: center;
    margin-bottom: -10vh;
}

.overlay a .hover-menu:hover:before,
a .hover-menu:hover::before {
    width: 100%;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d98238+31,de4949+99 */
    background: rgba(255, 175, 75, 1);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98238', endColorstr='#de4949', GradientType=1);
    /* IE6-9 */
    overflow: hidden;
}

.btn {
    display: inline-block;
    border-radius: 0.25em;
    background: none;
    font-size: 16px;
    color: #fff;
    padding: 11px 14px;
    /*    letter-spacing: .1em;*/
    border: 2px solid white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    cursor: pointer;
    margin: 15px;
}

.btn a {
    color: white;
}

.btn-color {
    -moz-border-image: -moz-linear-gradient(to left, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    -webkit-border-image: -webkit-linear-gradient(to left, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image: linear-gradient(to left, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image-slice: 1;
    /*    background: white;*/
    transition: all 0.3s ease;
    background: #F8484F;
}

.btn-color:hover {
    background: rgba(255, 175, 75, 0.1);
    background: -moz-linear-gradient(top, rgba(255, 175, 75, 0.1) 0%, rgba(245, 27, 74, 0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 175, 75, 0.1) 0%, rgba(245, 27, 74, 0.1) 100%);
    background: linear-gradient(top, rgba(255, 175, 75, 0.1) 0%, rgba(245, 27, 74, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#f51b4a', GradientType=0);
    transition: all 0.3s ease;
    background: none;
    color: #F8484F;
}

.btn-color:hover a {
    color: #F8484F;
}

.btn-white:hover {
    background: white;
    color: #222;
}

.link {
    width: 100%;
    text-align: left;
    margin: 5%;
}

.simple-btn {
    color: #222;
    font-size: 1.2em;
    padding: 5px;
    font-weight: 600;
    background-image: linear-gradient(120deg, #ffaf4b 0%, #f51b4a 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 95%;
    transition: background-size 0.25s ease-in;
}

.simple-btn:hover {
    background-size: 100% 88%;
}

.button::before,
.button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
}

button,
input[role="button"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    box-sizing: border-box;
    margin: 1em;
    border: 1px solid rgba(248, 72, 79, 0.32);
    font-size: inherit;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}


/* new button animation */

.custom-btn {
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}


/* Style inputs with type="text", select elements and textareas */

input,
select,
textarea {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    margin: 1%;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* FORM CONTACT */

h1.title-fantasy {
    color: #F2CA89;
}

.container {
    position: relative;
    width: 100%;
    /*    max-width: 1366px;*/
    margin: 0 auto;
}

.title-placement {
    position: relative;
    width: 100%;
    float: left;
    margin-top: -157px;
    margin-bottom: 60px;
}

.title-container {
    padding: 33px 40px 33px 40px;
    background: #fff;
}

.title-container h1 {
    text-transform: none;
    margin-bottom: 0;
    text-align: center;
}

.form-wrapper {
    position: relative;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    z-index: 8;
}

#demande-adhesion .form-wrapper {
    max-width: 80%;
}

#form-contact {
    width: 100%;
    margin: 0 auto;
}

.row-form {
    width: 100%;
    margin: 0 auto;
}

.half-input {
    float: left;
    position: relative;
    padding: 16px;
    width: 48%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/**---------------- Media query ----------------**/

@media only screen and (max-width: 769px) {
    .half-input {
        width: 100%;
    }
}

#form-contact>input,
#form-contact>select,
#form-contact textarea,
#form-adhesion>input,
#form-adhesion>select,
#form-adhesion textarea {
    display: block;
    font-size: 16px;
    max-width: 100%;
    line-height: 22px;
    padding: 10px 18px;
    width: 100%;
    border: 1px solid #dddbd0;
    width: 98%;
}

#form-contact input:hover,
#form-contact select:hover,
#form-contact textarea:hover,
#form-adhesion input:hover,
#form-adhesion select:hover,
#form-adhesion textarea:hover,
#form-contact input:active,
#form-contact select:active,
#form-contact textarea:active,
#form-adhesion input:active,
#form-adhesion select:active,
#form-adhesion textarea:active,
{
    border: 1px solid rgba(225, 72, 73, 1);
}

#form-contact input[type="submit"],
#form-adhesion input[type="submit"] {
    color: white;
    background-color: #e14849;
    border: 2px solid rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    margin: 1.25em;
    padding: 0 1em;
    font-weight: 600;
    width: 150px;
    font-size: 1.1em;
    margin-left: 80%;
    cursor: pointer;
    transition: 0.3s ease;
}

#form-adhesion input[type="submit"]:hover {
    border: 2px solid #e14849;
    color: #e14849;
    background-color: transparent;
}

#form-contact input[type="submit"].submit-white {
    background-color: white;
    color: black;
}

#form-contact input[type="submit"].submit-white:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#form-contact>input[type="submit"] {
    color: #000;
    display: block;
    text-transform: uppercase;
    border: 2px solid rgba(197, 105, 105, 0.4);
    font-size: 24px;
    padding: 0 10px;
    line-height: 36px;
    font-weight: 500;
    background-color: #FFFFFF;
}

#form-contact label,
#form-adhesion label {
    display: none;
}

label.demande-form {
    display: inline-block;
}

.page-header-bg {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 250px;
}

.header-content {
    position: relative;
}

.header-content .container {
    position: absolute;
    bottom: 10%;
}

#header-contact .page-header-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/photo-contact.jpeg);
    background-size: cover;
    background-position: center;
}

#header-contact .header-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.9) 100%), url(../img/photo-contact.jpeg);
    background-size: cover;
    background-position: center;
}

#header-about .page-header-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/photo-contact.jpeg);
}

header h2 {
    font-family: "Open sans", sans-serif;
    letter-spacing: 8px;
    color: #dfdfdf;
    font-weight: 700;
    font-size: 88px;
}

.bx-wrapper {
    border: 5px solid #1f1f1f;
    background: #1F1F1F;
    box-shadow: 0 0 5px #000;
}

#header-contact h1.title-fantasy,
#demande-adhesion h2.title-fantasy,
#infos h2.title-fantasy {
    color: black;
}

/* TEST FORM */

.et_pb_contact .et_pb_contact_field_half {
    float: left;
    width: 50%;
}

p.et_pb_contact_field {
    margin-bottom: 3%;
    padding: 0 0 0 3%;
}

p {
    padding-bottom: 1em;
}

.et_pb_contact_form_label {
    display: none;
}

.et_pb_contact_field * {
    position: relative;
}

.et_pb_contact_message {
    min-height: 150px;
}

.container {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    max-width: 1366px;
}

.solo .container {
    max-width: 100%;
}

section {
    /*    padding: 5%;*/
    padding: 0 0 2rem 0;
    text-align: center;
}

header+section {
    padding-top: 5%;
}

.page-change {
    padding: 0;
    background: #dfdfdf;
    padding: 1rem 0 2rem 0;
}


.arrow {
    background-image: url('../img/down-arrow.png');
    background-size: contain;
    display: block;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    color: #fdc800;
}


/* SERVICES */

.section-cours .row.title-orange {
    background-color: #D98238;
}

header+.section-cours {
    padding-top: 0;
}

.service-list {
    display: flex;
}


}
section {
    /*    padding: 5%;*/
    
    padding: 3rem 0;
    text-align: center;
}
section p {
    margin: 2% 5%;
    font-weight: 300;
    text-align: left;
    font-size: 1.1em;
    line-height: 26px;
}
#section-contact {
    background: url('../img/shelter-bg.png');
    background-repeat: no-repeat;
    background-position: top;
}
#section-contact h4 {
    text-transform: none;
}
#section-contact h3 {
    font-size: 2.5em;
}
.section-divider {
    background: url('../img/divider.png');
    width: 100%;
    height: 2px;
}
body {
    margin: 0;
    padding: 0;
    /* make it look decent enough */
    
    max-width: 100vw;
    background: #ffffff;
    color: #222222;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #F8484F;
    font-weight: 600
}

/* Wrapper */
.icon-button {
    background-color: none;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 20px;
    height: 40px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/********************
****** LOADER *******
********************/
.progress {
    position: fixed;
    right: 0px;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/logo.svg), url(../img/loading-line.jpg);
    background-position: center center, left center;
    background-size: 328px auto, 5px auto;
    background-repeat: no-repeat, repeat-x;
    background-color: #1b1b1b;
}
.progress p {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    text-align: center;
}
.bar {
    background-color: #1b1b1b;
    width: 100%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 3px;
}
.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

/********************
***** GALLERY *******
********************/

/********************
**** FeatherLight ***
********************/
.lightbox {
    display: none;
}
.featherlight .featherlight-content {
    background: #1b1b1b;
    padding: 2% 4%;
    border-bottom: 0;
    box-shadow: 1px 1px 3px 2px black;
}
.featherlight h5 {
    text-align: center;
    color: #ffffff;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 1.4em;
}
.featherlight h4 {
    font-size: 2em;
    color: #fdc800;
}
.featherlight h3 {
    color: #fdc800;
}
.featherlight iframe {
    display: block;
    margin: 0 auto;
    position: inherit;
}
.featherlight .featherlight-close-icon {
    color: #fdc800;
    background: none;
}
.img-responsive {
    /*width: 100%;*/
}
.twoimg-oneline {
    display: table;
}
.twoimg-oneline .box50 {
    display: table-cell;
}
.twoimg-oneline .box50 img {
    width: 50%;
    height: auto;
}
.featherlight .img-responsive {
    max-height: 90vh;
    display: block;
    margin: 0 auto;
}
.featherlight * {
    padding-top: 1%;
    padding-bottom: 1%;
}
.featherlight hr {
    padding: 0;
}
.featherlight p {
    font-weight: 300;
}

/********************
****** FORM ********
********************/
.bg-content {
    /*border: 1px solid rgba(255, 165, 0, 0.2);*/
    
    padding: 2%;
}
.mail-section,
.sub-content {
    /*border: 1px solid rgba(255, 165, 0, 0.2);*/
    
    padding: 2%;
    background-color: rgb(40, 39, 37);
    box-shadow: 0px -1px 1px black, 0px 1px 4px black;
    margin-top: 2%;
    margin-bottom: 2%;
}
.mail-section {
    background: #b5b5b5;
}
.mail-section p {
    margin-top: 0px;
}
.mail-section .btn,
.sub-content .btn {
    padding: 12px;
}
.bg-content p,
.sub-content p {
    color: #1b1b1b;
    font-size: 24px;
}
.sub-content p {
    color: #ebebeb;
}
#feedback-page {
    text-align: center;
}
#form-main {
    width: 50%;
    margin: 0 auto;
}
#form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    margin-top: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.feedback-input {
    color: #ebebeb;
    font-family: "Open sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    padding: 14px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    background-color: rgba(119, 119, 119, 0.2);
    border: 1px solid #cea252;
}
.feedback-input:focus {
    background: #202620;
    box-shadow: 0;
    border: 1px solid #fdc800;
    color: #fdc800;
    outline: none;
    padding: 13px 13px 13px 54px;
}
.focused {
    border: 1px solid #fdc800;
    color: #fdc800;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
input:hover,
textarea:hover,
input:active,
textarea:active {
    border: 1px solid rgba(225, 72, 73, 1);
}

/* ABOUT */
.about-container.style1 {
    background-color: #efefef;
    color: #999999;
}
.about-container .inner {
    margin: 0 auto;
    position: relative;
    z-index: 99;
    width: 85%;
}
.about-container {
    padding: 6em 0 4em 0;
    position: relative;
}
#whoweare {
    z-index: 10;
    position: relative;
}
.encadre-text {
    background: rgba(197, 105, 105, 0.8);
    padding: 15px;
    margin-bottom: 5%;
    width: 60%;
    margin: 5% auto;
    border-radius: 5px;
}
.encadre-text p {
    color: white;
    font-weight: 600;
    margin: 2%;
}
.flex.flex-2,
.flex.flex-3 {
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}
.flex {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    justify-content: space-evenly;
}
.flex.flex-3 .col {
    width: 28%;
}
.flex.flex-4 .col {
    width: 24%;
}
.flex.flex-2 .col {
    width: 45%;
}
.col,
.col h4 {
    font-weight: 500;
}
.image.round {
    border-radius: 100%;
}
.icon.fit {
    height: 130px;
}
.image.round img {
    border-radius: 100%;
}
.image.fit img {
    width: 100%;
}
.image img {
    display: block;
}
.image.fit {
    display: block;
    margin: 0 auto 2em auto;
    width: 80%;
}
.image {
    border: 0;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/********************
****** ICONS ********
********************/

/********************
****** FOOTER *******
********************/
footer {
    background: #151515;
    text-align: center;
    padding: 2%;
    box-shadow: inset 0px 2px 3px rgb(0, 0, 0);
}
fa .footer-menu {
    display: flex;
    width: 100%;
    position: absolute;
    height: 20vh;
    background: #fdfdfd;
    justify-content: center;
    align-content: center;
}
.footer-menu div>a {
    color: #2f2f2f;
    font-size: 24px;
}
.footer-menu div>a:hover {
    color: #222222;
}
.footer-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fdfdfd;
}
.footer-menu .email {
    text-align: left;
    float: left;
}
.footer-menu .tel {
    text-align: right;
    float: right;
}
.footer-menu .coordonnees {
    width: 80%;
    margin: 0 auto;
}
.footer-container {
    /* height: 3em;
    left: 50%;
    margin: -1.5em 0 0 -6em;
    position: relative;
    width: 12em; */
}
footer p {
    font-size: 16px;
    padding: 2% 0 0 0;
    color: white;
}
footer h3 {
    padding: 20px 0 15px 0;
    font-size: 1.8em;
}
.top_footer,
.bottom_footer {
    width: 80%
}
footer ul,
.footer-menu .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .blocks-container {
    width: 100%;
    max-width: 1310px;
    height: 186px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.valign-table {
    display: table;
    width: 100%;
    height: 100%;
}
#footer .blocks-list .block:nth-child(7) img {
    width: 30px;
}
#footer .blocks-list {
    display: inline-block;
}
#footer .blocks-list .block:nth-child(1) {
    width: 142px;
    position: absolute;
    left: 5%;
}
#footer .blocks-list .block:nth-child(7) {
    position: absolute;
    right: 5%;
}
#footer .drop {
    width: 20px;
    margin: 0 auto;
}
#footer .block .separator {
    margin-top: -5px;
}
#footer .blocks-list .block-separator {
    text-align: center;
    width: 95px;
}
#footer .block,
#footer .block .valign-table {
    min-height: 186px;
}
#footer .block,
#footer .block .valign-table {
    min-height: 186px;
}
.valign-table {
    display: table;
    width: 100%;
    height: 100%;
}
.valign-row {
    display: table-row;
}
.valign-cell {
    display: table-cell;
    vertical-align: middle;
}
#footer .last-links {
    font-size: 12px;
    left: 0;
    /*    position: relative;*/
    
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 15px;
}
#footer .block {
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
}
#footer .blocks-list .block:nth-child(7) a:first-child {
    margin-left: 0;
}
#footer .blocks-list .block:nth-child(7) a {
    margin-left: 10px;
}
#footer .blocks-list .block:nth-child(7) a {
    float: left;
}
#footer a,
#footer a * {
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
#footer a {
    color: #ffffff;
    text-decoration: none;
}
#footer a:hover {
    color: #ddd;
}
#footer .last-links a:hover {
    color: rgb(255, 136, 141);
}

/* ---------- SOCIAL ---------- */
.social {}
.social ul {
    text-align: center;
}
.social li {
    height: 2em;
    line-height: 3em;
    margin: 1em;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -ms-transition: -ms-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
    text-align: center;
    width: 2em;
    border: 1px solid orange;
    display: inline-block;
    color: #fff;
}
.social a {
    color: #fffdf0;
    display: block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
}
.social li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.facebook:hover {
    background: #155b9d;
}
i.fa {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 4px;
}

/* Custom social icons */
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.custom-icon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    opacity: 0.8;
    -webkit-transition: background 0.5s, color 0.5s, opacity 0.5s, border 0.5s;
    transition: background 0.5s, color 0.5s, opacity 0.5s, border 0.5s;
    transition: all 0.3s ease;
}
.custom-icon::before {
    width: 100%;
    font-size: 18px;
    margin-top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.custom-icon:hover {
    opacity: 1;
    /*  color: linear-gradient(135deg, #de4949 0%,#d98238 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    color: black;
    background: #de4949;
    border: 1px solid transparent;
    /* Old browsers */
    
    background: -webkit-linear-gradient(-45deg, #de4949 0%, #d98238 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(135deg, #de4949 0%, #d98238 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*  border-color: linear-gradient(135deg, #de4949 0%,#d98238 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    transition: all 0.3s ease;
}
.social-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: absolute;
    right: 5%;
}
.icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
@media (min-width: 768px) {
    .custom-icon {
        width: 40px;
        height: 40px;
        font-size: 3.5rem;
    }
    
    header#header-home {
        background-size: calc(100% + 50px);
    }
}

/**** EACH PAGE ****/
.bookmark {
    content: "";
    width: 50px;
    height: 4px;
    border-radius: 10%;
    background-color: #7A2E26;
    margin: 0% 2% 3%;
}
.bookmark-center {
    margin: 0 auto;
}
.buttons {
    margin-top: 75px;
}

/* ACCUEIL */
.orange-h1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,f51b4a+100 */
    
    background: #ffaf4b;
    /* Old browsers */
    
    color: #ffaf4b;
    background: -moz-linear-gradient(top, #ffaf4b 0%, #f51b4a 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #ffaf4b 0%, #f51b4a 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #ffaf4b 0%, #f51b4a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#f51b4a', GradientType=0);
    /* IE6-9 */
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Oraqle, cursive;
    font-size: 1.5em;
}
#header-home h1 {
    color: white;
}
.slogan {
    color: #dddddd;
    line-height: normal;
    text-align: right;
    font-size: 2.0em;
    letter-spacing: 4px;
}
#whoweare .bg-fantasy {
    background: url(../img/pattern-lotus_white.png) repeat, linear-gradient(135deg, #de4949 0%, #d98238 100%);
}
#cause {
    background: #1F1F1F;
}
#home-gallery {
    background: #1F1F1F;
}
#home-gallery .bg-fantasy {
    background: url(../img/pattern-lotus_white.png) repeat, linear-gradient(135deg, #de4949 0%, #d98238 100%);
    padding: 1rem 0 4rem 0;
}
#home-gallery .bg-fantasy h2 {
    color: white;
}
#home-gallery .bg-fantasy .bookmark {
    background: white;
}
#gallery .bg-fantasy {
    background: url(../img/pattern-lotus_white.png) repeat, linear-gradient(135deg, #de4949 0%, #d98238 100%);
    padding: 6rem 0 4rem 0;
}
.bloc-left .page-header-description {
    /* margin-bottom: 150px; */
    
    padding-left: 50px;
}
.page-header-description h2,
.page-header-description .simple-btn {
    text-transform: uppercase;
}
section h2 {
    font-family: 'Open sans', sans-serif;
    font-size: 2.7em;
    font-weight: 700;
    text-align: left;
}
section#home-contact {
    background: #1F1F1F;
    padding: 3rem 0 3rem 0;
}
section#demande-adhesion {
    padding: 3rem 0 3rem 0;
}
#home-contact .container {
    -moz-border-image: -moz-linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    -webkit-border-image: -webkit-linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image-slice: 1;
}
.bookmark.bookmark-white {
    background: white;
}
#home-contact .buttons .btn-color {
    color: white;
}
#home-gallery .btn-color {
    min-width: 200px;
}
.gradient-border {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    -moz-border-image: -moz-linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    -webkit-border-image: -webkit-linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image-slice: 1;
    border-width: 4px;
    border-style: solid;
}

/* SERVICES */
#title-services {
    background: #dfdfdf;
    padding: 3rem 0;
}
#title-services h3 {
    font-size: 26px;
    font-weight: 500;
}
#all-services {
    padding: 0;
}
#all-services .container {
    width: 100%;
    max-width: 100%;
}
.service h2 {
    font-size: 86px;
}
section.section-cours .btn-color {
    color: #ffffff;
}
.section-cours .btn-color:hover {
    color: #F8484F;
}
.service-content {
    transform: translateY(50%);
    position: relative;
}
#cours-prives .row {
    margin: 4% 0;
}

/* CONTACT */
.contact-text {
    font-weight: 600;
}
.description-text {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 40px;
}
.contact-text .description-text {
    color: white;
}
.adhesion-text .description-text {
    color: #515151;
    font-size: 1.2em;
}
#contact {
    -moz-background: -moz-linear-gradient(to bottom, #e39071, #dd5f73 100%);
    -webkit-background: -webkit-linear-gradient(to bottom, #e39071, #dd5f73 100%);
    background: linear-gradient(to bottom, #e39071, #dd5f73 100%);
    /*    margin-top: -160px;*/
    
    position: relative;
}
#contact:after {
    content: "";
    background: url(../img/pattern-lotus_2.png) repeat;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
#demande-adhesion {
    width: 100%;
    background: #f3f3f3;
}
#demande-adhesion .container {
    border: 2px solid #F00050;
    width: 70%;
    background: white;
}
#footer .footer-adresse p {
    font-weight: 300;
}
#footer .footer-tel p,
#footer .footer-mail p {
    font-weight: 600;
}
#form-adhesion {
    -moz-border-image: -moz-linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    -webkit-border-image: -webkit-linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image-slice: 1;
}

/******** GALLERY *****/
.masonry {
    display: flex;
    flex-flow: column wrap;
    margin-left: -8px;
    /* Adjustment for the gutter */
}
.masonry-brick {
    overflow: hidden;
    border-radius: 3px;
    margin: 0 0 8px 8px;
    background-color: #222222;
    position: relative;
    border: 1px solid #000000;
}
.masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    transition: all 0.3s ease;
}
.masonry-img:hover {
    transform: scale(1.08);
    transition: all 0.4s ease;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
@media only screen and (min-width: 1024px) {
    .masonry-brick {
        width: 33.33333%;
    }
}
.masonry-preloader {
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: .5;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************
****** RESPONSIVE ******
***********************/

/* Menu responsive */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1005;
    top: 0;
    left: 0;
    background: #de4949;
    /* Old browsers */
    
    background: -moz-linear-gradient(-45deg, #de4949 0%, #d98238 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(-45deg, #de4949 0%, #d98238 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(135deg, #de4949 0%, #d98238 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4949', endColorstr='#d98238', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 36px;
    color: #fdfdfd;
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay .logo {
    position: absolute;
    top: 20px;
    left: 45px;
}

/* SERVICES */
h2 {
    font-family: "Oraqle Script";
    font-size: 100px;
    color: white;
    text-align: center;
}
.service h2 {
    text-align: center;
    position: absolute;
    top: 25%;
}
.service {
    position: relative;
    height: 70vh;
    min-height: 450px;
    width: 20%;
    overflow: hidden;
    float: left;
    padding: 0 10px;
}
.service .btn {
    margin: 20px 0;
    position: relative;
    left: -50%;
}
#service-danse {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/photo-contact.jpeg) no-repeat;
}
#service-danse:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 27, 64, 0.7)), url(../img/photo-contact.jpeg) no-repeat;
}
#service-musique {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/photo-contact.jpeg) no-repeat;
}
#service-musique:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 27, 64, 0.7)), url(../img/photo-contact.jpeg) no-repeat;
}
#service-spectacles {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/spectacles.png) no-repeat;
}
#service-spectacles:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 27, 64, 0.7)), url(../img/spectacles.png) no-repeat;
}
#service-coursPrives {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/photo-contact.jpeg) no-repeat;
}
#service-coursPrives:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 27, 64, 0.7)), url(../img/photo-contact.jpeg) no-repeat;
}
#service-planning {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/planning.png) no-repeat;
}
#service-planning:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 27, 64, 0.7)), url(../img/planning.png) no-repeat;
}
#service-danse,
#service-musique,
#service-spectacles,
#service-coursPrives,
#service-planning {
    transition: all 0.3s ease;
    background-size: auto;
    background-position: center;
}
#service-danse:hover,
#service-musique:hover,
#service-spectacles:hover,
#service-coursPrives:hover,
#service-planning:hover {
    transition: all 0.3s ease;
    background-size: auto;
    background-position: center;
    transform: scale(110%);
}
.service-link {
    position: absolute;
    left: 50%;
    bottom: 25%;
}
.service-link p {
    text-align: center;
    border: 1px solid;
    border-color: white;
    color: white;
    font-family: "Open Sans";
}

/** GALLERY */
#photos-gallery,
#videos-gallery {
    text-align: center;
    background: #222222;
}
.three-cols .box:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
}
.box-container {
    display: inline-block;
    margin-top: 1.4em;
    width: 100%;
}
.three-cols .box {
    width: 32%;
}
#btn-load {
    margin: 0 auto;
}

/* GALLERY JS GRID */

/* fluid 5 columns */
.grid {
    margin: 0 auto;
    width: 90%;
}
.grid-sizer,
.grid-item {
    width: 24%;
}

/* 3 columns by default */
.grid-sizer {
    width: 33.333%;
}
@media screen and (min-width: 768px) {
    /* 5 columns for larger screens */
    
    .grid-sizer {
        width: 24%;
    }
}

/* 2 columns */
.grid-item--width2 {
    width: 49%;
}
.gutter-sizer {
    width: 1%;
}
.grid-item {
    margin-bottom: 10px;
}

/** Scroll Icon **/
#header-home a {
    padding-top: 90px;
    position: absolute;
    bottom: 0;
    z-index: 5;
}
#header-home a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
#header-home a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    
    40% {
        opacity: 1;
    }
    
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}
@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    
    40% {
        opacity: 1;
    }
    
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}
#footer .blocks-container {
    width: 100%;
    max-width: 1310px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}



/*****************
    RESPONSIVE
*****************/

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    
    .overlay a {
        font-size: 20px
    }
    
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media screen and (max-width: 768px) {
    .overlay {
        overflow-y: auto;
    }
    
        header .container {
        margin-top: 100px;
    }
    
    .footer-menu .tel,
    .footer-menu .mail {
        text-align: center;
        float: none;
    }
    
    .desktop-logo {
        display: none;
    }
    
    .mobile-logo {
        display: block;
    }
    
    .logo img {
        max-width: 50px;
    }
    
    .service h2 {
        line-height: 69px;
    }
    
    h3 {
        font-size: 2.3em;
        text-transform: initial;
    }
    
    #form-contact input[type="submit"],
    #form-adhesion input[type="submit"] {
        margin-left: 70%;
    }
    
    #form-contact>input,
    #form-contact>select,
    #form-contact textarea,
    #form-adhesion>input,
    #form-adhesion>select,
    #form-adhesion textarea {
        width: 100%;
    }
    
    #demande-adhesion .container {
        width: 90%;
    }
    
    .service-link {
        bottom: 21%;
    }
    
    .form-wrapper {
        max-width: 90%;
    }
    
    #footer .block,
    #footer .block .valign-table {
        width: 100% !important;
        min-height: 10px;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .vertical-navbar {
        display: none;
    }
    
    .wrapper {
        padding: 3rem 0 4rem 0;
    }
    
    #header-home a span {
        width: 25px;
        height: 40px;
        border: 1.5px solid #fff;
    }
    
    #header-home a span::before {
        top: 5px;
    }
    
    .bloc-left,
    .bloc-right {
        float: none;
        width: 100%;
    }
    
    #footer .blocks-container {
        height: auto;
        padding-bottom: 10px;
    }
    
    #form-main {
        width: 90%;
    }
    
    section h2 {
        font-size: 1.5em;
    }
    
    .mail-section,
    .sub-content {
        padding: 0 20px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    p {
        padding: 3% 0;
        font-size: 1.1em;
    }
    
    .section-divider {}
    
    .img-responsive {
        width: 100%;
    }
    
    .featherlight .featherlightcontent {
        width: 100%;
    }
    
    .featherlight * {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #footer .logo-white {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    
    #footer .blocks-list .block:nth-child(1) {
        left: 0;
    }
    
    header .header-content {
        min-height: 250px;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    .overlay a {
        font-size: 32px;
    }
    
    .overlay .footer-menu {
        font-size: 26px;
    }
    
    .overlay-content {
        top: 15%;
    }
    
    #footer .blocks-list .block:nth-child(1) {
        position: relative;
    }
    
    #footer .blocks-list .block:nth-child(7) {
        position: relative;
    }
    
    #footer .block,
    #footer .block .valign-table {
        width: 100% !important;
        min-height: 10px;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .overlay .closebtn {
        font-size: 40px;
        top: 0px;
        padding: 15px;
        right: 10px;
    }
    
    .footer-menu div>a {
        font-size: 18px;
    }
    
    .footer-menu .bloc-right {
        padding-left: 0;
    }
    
    #nav-desktop li {
        display: none;
    }
    
    #nav-desktop li.mobile-link {
        display: block;
        margin-top: 6px;
        margin-right: 0px;
        font-size: 24px;
        cursor: pointer;
    }
    
    .overlay h2 {
        letter-spacing: 0.8em;
        font-size: 17vw;
        font-weight: 500;
    }
    
    .menu-rs {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    .screen-center {
        top: 12%;
    }
    
    .custom-icon::before {
        font-size: 30px;
    }
    
    .menu-rs .custom-icon::before {
        font-size: 21px;
        margin-top: -13%;
    }
    
    footer .custom-icon::before {
        margin-top: 19%;
        font-size: 18px;
    }
    
    i.fa {
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px #222;
        padding: 16px;
    }
    
    .social i.fa {
        padding: 25%;
    }
    
    #footer .last-links {
        position: relative;
    }
    
    .custom-icon {
        width: 40px;
        height: 40px;
    }
    
    #footer .block,
    #footer .block .valign-table {
        width: 100% !important;
        min-height: 10px;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
        #footer .blocks-container {
        height: auto;
        padding-bottom: 10px;
    }
    
    .service {
        position: relative;
        height: 50vh;
        min-height: 450px;
        width: 100%;
        overflow: hidden;
        float: none;
        padding: 0 10px;
        display: block;
    }
    
    .service h2 {
        text-align: center;
        position: relative;
    }
    
    #footer .block {
        float: none;
    }
    
    #footer .blocks-list .block {
        margin: 0 0 15px !important;
    }
    
    #footer .blocks-list .block:nth-child(1) {
        margin: 60px 0 25px !important;
    }
    
    #footer p {
        font-size: 1em;
        padding: 2% 0 0 0;
        color: white;
    }
    
    header h1 {
        font-size: 4em;
    }
    
    .slogan {
        font-size: 1em;
        letter-spacing: 1px;
    }
    
    #footer .blocks-list .block:nth-child(7) {
        right: 0;
    }
    
    footer ul {
        justify-content: center;
        margin-left: 1.5%;
    }
    
    footer .icon-wrapper {
        margin-right: 20px;
    }
    
    footer i.fa {
        padding: 0;
    }
    
    .change-content h3 {
        line-height: initial;
        margin-top: 2rem;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {}
@media all and (min-width: 1024px) and (max-width: 1299px) {
    #footer .blocks-list .block:nth-child(1) {
        width: 122px;
    }
    
    #footer .blocks-list .block:nth-child(1) img {
        max-width: 100%;
    }
    
    #footer .blocks-list .block:nth-child(3),
    #footer .blocks-list .block:nth-child(5) {
        width: 54px;
    }
    
    #footer .blocks-list .block:nth-child(4) {
        width: 136px;
    }
    
    #footer .blocks-list .block:nth-child(6) {
        width: 156px;
    }
    
    #footer .blocks-list .block:nth-child(7) {
        margin-left: 33px;
    }
    
    #footer {
        font-size: 16px;
    }
    
    #footer .second {
        font-size: 12px;
    }
    
    #footer .blocks-list .block:nth-child(2) {
        margin-left: 40px;
        width: 283px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    #footer .blocks-list .block:nth-child(1) {
        width: 150px;
    }
    
    #footer .blocks-list .block:nth-child(1) img {
        width: 70%;
    }
    
    #footer .blocks-list .block:nth-child(2) {
        width: 180px;
        margin-left: 5px;
        font-size: 10px;
    }
    
    #footer .blocks-list .block:nth-child(3) {
        width: 30px;
    }
    
    #footer .blocks-list .block:nth-child(4) {
        width: 115px;
    }
    
    #footer .blocks-list .block:nth-child(5) {
        width: 30px;
    }
    
    #footer .blocks-list .block:nth-child(6) {
        font-size: 15px;
        width: 146px;
    }
    
    #footer .blocks-list .block:nth-child(7) {
        width: 80px;
        margin-left: 16px;
        top: 4px;
        position: relative;
        width: 100%;
    }
    
    #footer .blocks-list .block:nth-child(7) svg {
        width: 15px;
    }
    
    #footer .blocks-list .block:nth-child(7) a:nth-child(2) {
        margin-left: 10px;
        margin-top: -5px;
    }
}
@media all and (max-width: 900px) {
    #customers .parallax_right .container_cells .cell-row {
        height: 90px;
    }
    
    #footer {
        font-size: 15px;
    }
    
    #footer .block.first img {
        max-width: 100px;
    }
    
    #footer .second {
        font-size: 10px;
    }
    
    #footer>.separator {
        top: -9px;
    }
}