
.masonry { /* Masonry container */
     	column-count: 5;
    	column-gap: 20px;
    	margin: 3%;
}

.item { /* Masonry bricks or child elements */
   /* display: inline-block;*/
    margin: 0 0 1em;
    width: 100%;
}
.masonry2 { /* Masonry container */
     	display: flex;
     	flex-wrap: wrap;
     	justify-content:  space-evenly;
     	margin-bottom: 5%;
}

#all-services{  
  overflow: hidden;
}

.video-gallery{
  
  margin:10px;
}

#photos-gallery, #videos-gallery {
    text-align: center;
    background: #222222;
    padding-top:0;
    color: white !important;
}


.masonry3{
      flex-flow: column wrap;
    margin-left: -8px;
}
.masonry-brick3{
    overflow: hidden;
    border-radius: 3px;
    margin: 0 0 8px 8px;
    background-color: #222222;
    position: relative;
    border: 1px solid #000000;
}

.masonry-img2 {
    object-fit: cover;
    width: 100%;
    /*height: 100%;*/
    filter: brightness(60%);
    transition: all 0.3s ease;
}

@media only screen and (min-width: 1024px){
.masonry-brick3 {
    width: 33.33333%;
}
}



.nav-admin {
    /*overflow: hidden;*/
    background-color: #0000;
    font-family: Arial, Helvetica, sans-serif;
    height: 10%;
        border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(245, 27, 74, 1) 100%) 50;
    border-image-source: linear-gradient(to right, rgb(255, 175, 75) 0%, rgb(245, 27, 74) 100%);
   /* border-bottom: 1px solid #f39149;*/
}

.nav-admin a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-top: 22px;
    
}

.dropdown .dropbtn {
    font-size:  19px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
        width: 10em;
        line-height: 50%;
}

.nav-admin a:hover, .dropdown:hover .dropbtn {
   /* background-color: red;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 11em;
 /*   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    margin-top: -7px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #FF8500;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo-admin{
  float: right;
  height: 4em;
}
.nav-admin .a-logo-admin {
  
   padding: 0;
}



@font-face {
    font-family: Oraqle;
    src: url('../font/Oraqle_script.woff') format('woff'), url('../font/Oraqle_script.ttf') format('truetype'), url('../font/Oraqle_script.otf') format('otf');
}
*{
    width: auto;
    font-family: 'Open sans', sans-serif;
}

.bo-contener{
    
    padding: 10px;
    position: relative;
    width: auto;
}

.page-titre{
    font-size: 73px;
    left: 0;
    letter-spacing: 1px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 25px;
    position: absolute;
    top: 0;
}



.buttonAjout {
padding: 5px 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #f39149;
    border: none;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    top: 43px;
    z-index: 0;
    line-height: 100%;
}

.buttonAjout:hover {
    background-color: #f00050;
}

.buttonVisualiser:hover{
    background-color: #f00050;
}

.buttonVisualiser{
  padding: 12px 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #f39149;
  border: none;
  border-radius: 15px;
  position: absolute;
  right: 240px;
  top: 43px;
  z-index: 0;
  line-height: 50%;
}

.post{
    margin: 96px 10px 5px 10px;
    padding: 5px;
    width: 500px;
    background-color: #F5F5F5;
    border-radius:10px;
    float: left;
    height: 560px;
}


/******************************************************************

                            NAV / HEADER

******************************************************************/
nav{
    margin-left: 60px;
    text-align: right;
    font-family: 'Open sans', sans-serif;
}
nav, .logo{
    display: inline-block;
}
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}
#menu-deroulant li {
    display: inline-block;
}
#menu-deroulant ul li {
    display: inherit;

}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
    border-bottom: red;
    margin-left: auto;

}

.main-menu{
    margin-left: 30px;
}
.main-menu:hover{
    border-bottom: 1px solid red
}

.sous-menu li{
    margin-left: 40px;
    margin-top: 15px;
}

.sous-menu li:hover{
    border-bottom: 1px solid red;
}

/*LOGO*/
.logo {
    width: 120px;
    margin-left: 2%;

}




/******************************************************************

                            POST

******************************************************************/


.img-post{
    /*width: 50%;*/
    max-height: 150px;
}


.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
    width: 48%; 
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}




.section-modif-accueil{
  
  padding: 0.5%;  
  min-height: 200px;
  
}


 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #1f1f1f;
   margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content2 {
    background-color: #1f1f1f;
   margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


.input-file-modal{
       border-radius: 4px;
    box-sizing: border-box;
    color: white;
    font-family: "Open sans",sans-serif;
    font-size: 14px;
    margin: 6px 1% 16px;
    padding: 12px;
    resize: vertical;
    border:none;
}

.titleModal{
     margin-bottom: 15px;
}

.button-styler {
    
order: none;
padding: 0px 15px 8px 15px;
background: #FF8500;
color: #fff;
box-shadow: 1px 1px 4px #DADADA;
-moz-box-shadow: 1px 1px 4px #DADADA;
-webkit-box-shadow: 1px 1px 4px #DADADA;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
text-transform: none;
width: 16.5em;
 height: 36px !important;
margin-top: 2px;
padding: 8px 15px 8px 15px;
line-height: 1;
margin: 0.25em;
}

.button-modifier{
    float: left;
    height: 20px !important;
    line-height: 1 !important;
}

.text-gallery{
    color:white;
}

.button-presque-styler{
    margin-top: -12px;
}

.form-meuf-relou{
    font-weight: bold;
}

.vertical-navbar{
    display: none;
}