h1{
    font-family : 'oraqle script';
    font-size : 80px;
    color : rgba(243,145,73,0.5);
    padding-left : 100px;
}

.contact-text1{
    font-family : 'Open sans';
    font-size : ; 
    color : ;
    width:;
    
}

.contact-text2{
    font-family : 'Open sans';
    text-align : ;
    width : 40%;
}

.formulaire-full ul li input[type="nom"], .formulaire-full input[type="prénom"], .formulaire-full input[type="mail"], .formulaire-full input[type="tél"]{
    font-family: 'Open-sans';
    font-size:15px;
    width:200px;
    height:20px;
    border-radius: 10%;
    margin-bottom:30px;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}

.formulaire-full input[type="button"], 
.formulaire-full input[type="submit"] {
    display: inline-block;
    cursor: pointer;
    border-radius:50%;
    border:none;
    width:60px;
    height:60px;   
    font-family:'oraqle script';
    font-size:20px;
    text-align:center;
    background-color:white;
    color:rgba(243,145,73,0.5);
}
.form-style ul li input[type="button"]:hover, 
.form-style ul li input[type="submit"]:hover {
   
}

.infos-1, .infos-2, .infos-3{
    font-family:'Open sans';
    font-size: 15px;
}

.img1{
    display:inline-block;
    float:left;
    padding-left:100px;

}

#spectacles .specific-title{
    background: url('../img/ballerina-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 500px;
}

#content-bollywood{
    height:625px;
}


.bollywood-title{
    background-color:#DE4949;
    opacity:0.9;
    height:125px;
    text-align:right;
}


.bollywood-text{   
    font-family:'Open Sans';
    font-size:15px;
    width:40%;
    display: inline-block;
    text-align:justify;  
    color:#4F4F4F;
    padding-left:300px;
    padding-right:80px;
    padding-top:125px;
}
.bollywood-title h1{
    text-align:right;
    padding-right:200px;
    letter-spacing:15px;
    font-size:22px;
}
h1{
    font-size:22px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Open Sans';
    color:white;
    letter-spacing: 10px;
    text-align:center;
}
.button-bollywood{
    font-family:'Open Sans';
	cursor:pointer;
    
}
#content-bharatanatyam{
    height:650px;
}

.img2{
    display:inline-block;
    float:right;
}

.content-bharatanatyam{
    height:150px;
}

.bharatanatyam-title h1{
    letter-spacing:15px;
    font-size:22px;
    
}
.bharatanatyam-title{
    letter-spacing: 10px;
    text-align:center; 
    background-color:#D98238;
    opacity: 0.9;
    height:125px;
}

.bharatanatyam-text{   
     font-family:'Open Sans';
    font-size:15px;
    width:40%;
    display: inline-block;
    text-align:justify;  
    color:#4F4F4F;
    padding-top:125px;
    padding-left:80px;
}

.button-bharatanatyam{
    font-family:'Open Sans';
	cursor:pointer;
    padding-top:50px;
    margin-left:225px;
    
}

#content-mohiniyattam{
    height:650px;
}
.img-3{
    padding-left:150px;
    display:inline-block;
    float:left;
    
}
.mohiniyattam-title{
    letter-spacing: 10px;
    text-align:center; 
    background-color:#DE4949;
    opacity: 0.9;
    height:125px;
}

.mohiniyattam-text{   
    font-family:'Open Sans';
    font-size:15px;
    color:#4F4F4F;
    width:30%;
    display: inline-block;
    text-align:justify; 
    display:inline-block;
}

.button-mohiniyattam{
    font-family:'Open Sans';
	cursor:pointer;
    
}

.byline{
    font-family:'Oraqle Script';
    font-size:20px;
    color:saddlebrown;
}

.img-veena{
}

.veena-title{
    color:white;
    font-family:'Open Sans';
    font-size:22px;
    letter-spacing: 15px;
    background-color:#DE4949;
    opacity:0.9;
    height:125px;   
}


.veena-text{   
    font-family:'Open Sans';
    font-size:15px;
    width:40%;
    display: inline-block;
    text-align:justify;  
}

.byline{
    font-family:'Oraqle Script';
    font-size:20px;
    color:saddlebrown;
}